BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
ADMIN_IDS=123456789,987654321
APKTOOL_PATH=/usr/bin/apktool
JAVA_PATH=/usr/bin/java
WORK_DIR=/tmp/apk_work
OUTPUT_DIR=/tmp/apk_output
DEFAULT_BRANDING=@ApkVzlomers
DEFAULT_TITLE=ApkVzlomers
